html {
  font-size: 62.5%;
}

.container {
  align-items: center;
  display:flex;
  height: 100vh;
  justify-content: center;
}

.search {
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(180, 180, 180, 0.5);
}

.search__input {
  background-color: #fff;
  border: 1px solid transparent;
  height: 3.5rem;
  outline: none;
  padding: 0.6rem;
  width: 18rem;
}

.search__button {
  align-items: center;
  background-color: #fff;  
  border: none;
  color: #0A7B83;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.search__button:hover {
  background-color: #0A7B83;
  color: #fff;
  transform: scale(1);
}

