html {
  font-size: 62.5%;
}

.main {
  align-items: center;
  display:flex;
  height: 100vh;
  justify-content: center;  
}

.container {
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(180, 180, 180, 0.5);
  display: flex;
  height: 35rem;
  justify-content: center;
  width: 45rem;
}

.search {
  align-items: center;
  border: 1px solid #d5d5d5;
  display: flex;
  justify-content: center;  
}

.search__input {
  background-color: #fff;
  border: none;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
  width: 22rem;
}

.search__button {  
  align-items: center;
  background-color: #fff;  
  border: none;
  color: #0A7B83;
  cursor: pointer;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  padding: 0.8rem;
  transition: all 0.2s ease-in-out;
  width: 4.5rem;
}

.search__button:hover {
  background-color: #0A7B83;
  color: #fff;
  transform: scale(1);
}

.search__button i {
  font-size: 2rem;
}


